.custom-modal .rodal-dialog {
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}

.custom-modal .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* 추가 */
}

.custom-modal .modal-header {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.custom-modal .modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto; /* 내용이 많아질 경우 스크롤 허용 */
}

.custom-modal .modal-footer {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
}

.custom-modal .custom-alert-icon {
    margin-bottom: 1rem;
}

/* 스크롤바 숨기기 */
.custom-modal .modal-body::-webkit-scrollbar {
    display: none;
}

.custom-modal .modal-body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
